body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.size2em{
    font-size: 2em;
}

.colorBluedark{
    color: #283645;
}

.colorBlueLight{
    color: #1490D7;
}

.colorOrange{
    color: #ff8000;
}

/* Header */

.presentation{

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; 
    margin-bottom: 20px;
}

.photoProfil img{
    height: 150px;
    padding-top: 20px;
}

/* Fin Header */

